@import "game.css";

html {
    box-sizing: border-box;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }
  
  // body {
  //   margin: 0;
  //   background: #ffc600;
  // }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  