@import "./variables.module";
@import "./mixins.module";

.characters {
    margin-top: 40px;

    .charactersHeader {
        @include flex($justify:space-between);
        align-items: center;
        h3 {
            @include roboto-slab($font-size:22px);
        }
    
        .seeAll {
            text-decoration: none;
            color: $sky-blue;
            @include roboto($font-size:16px);
        }
    }

    .charactersBody {
        @include flex($justify:space-between);
        column-gap: 15px;

        .charactersImgAndText {
            margin-top: 25px;

            .charactersImg {
                width: 100%;
            }

            .charactersText {
                @include flex($justify:center);
                color: $white;
                position:absolute;
                align-items: center;
            }
        }
    }
}

@mixin tablet-desktop-charactersImgAndText {
    .charactersImgAndText {
        width: 25%;
        position: relative;
    }    
}

@mixin h6Tag($font-size) {
    @include roboto-slab($font-size:$font-size);
    font-weight: 700;
    line-height: 21.09px;
}

@media (max-width: 767.98px) {
    .charactersImgAndText {
        width: 50%;
        position: relative;

        .charactersText {
            width: 181px;
            height: 32px;
            top: 82%;
            left: 5%;
            align-items: center;
    
            h6 {
                @include roboto($font-size:18px);
                font-weight: 700;
                line-height: 21.09px;
            }
        }
    }

    #zoro, #nico {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    @include tablet-desktop-charactersImgAndText();

    .charactersText {
        width: 181px;
        height: 32px;
        top: 80%;
        left: -5%;


        h6 {
            @include h6Tag($font-size:16px);
        }
    }
}

@media (min-width: 992px) {
    @include tablet-desktop-charactersImgAndText();

    .charactersText {
        width: 181px;
        height: 38px;
        top: 85%;
        left: 10%;


        h6 {
            @include h6Tag($font-size:22px);
        }
    }
}

@media (min-width: 1200px) {
    @include tablet-desktop-charactersImgAndText();

    .charactersText {
        width: 181px;
        height: 38px;
        top: 85%;
        left: 20%;


        h6 {
            @include h6Tag($font-size:22px);
        }
    }
}

