@import "./variables.module";
@import "./mixins.module";

@mixin mobile-tablet-languages-common {
    .menuOptionLanguages {
        @include flex($justify:flex-start);
        column-gap: 50px;
        top: 360px;
        position: absolute;
        background-color: $white;
        width: 100vw;
        @include roboto-slab($font-size:16px);
        color: $gray-menu-text;

        .menuOptionEnglish {
            @include flex($justify:center);
            height: 50%;
            background-color: $gray-active-language;
            column-gap: 15px;
            align-items: center;

            .menuOptionEnglishText {
                margin-top: 12px;
            }
        }
        .menuOptionSpanish {
            @include flex($justify:center);
            height: 50%;
            column-gap: 15px;
            align-items: center;

            .menuOptionSpanishText {
                margin-top: 12px;    
            }
        }
    }
}

@media (max-width: 767.98px) {
    @include mobile-tablet-languages-common();

    .mobileTabletMenu {
        @include flex($justify:flex-start);
        align-items: center;
        column-gap: 150px;
        
        .hamburgerIcon, .closeIcon {
            cursor: pointer;
        }
    }

    .menuOptionLanguages {
        padding-left: 100px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    @include mobile-tablet-languages-common();

    .mobileTabletMenu {
        @include flex($justify:flex-start);
        align-items: center;
        column-gap: 280px;

        .hamburgerIcon, .closeIcon {
            cursor: pointer;
        }
    }

    .menuOptionLanguages {
        padding-left: 180px;
    }

    .menuOptionEnglish {
        width: 150px;
    }
}

@media (min-width: 992px) {
    .mobileTabletMenu{
        display: none;
    }
}