@import "../Style/variables.scss";
@import "../Style/mixins.scss";
  
.mist-objects {
    margin-top: 40px;
}

.mist-object-header {
    @include flex($justify:space-between);
    align-items: center;

    h3 {
        @include roboto-slab($font-size:22px);
    }
    .SeeAll {
        text-decoration: none;
        color: $sky-blue;
        @include roboto($font-size:16px);
    } 
}

.mist-object-body {

    .mist-object__img-and-text {
        position: relative; 
        color: $white;

        .mist-object-img {
            border-radius: 8px;
        }

        .mist-object__text {
            @include blur-background();
            position:absolute;
            border-radius: 0px 6px 6px 0px;
            padding-left: 12px;
            padding-top: 15px;
        
            h6 {
                @include roboto($font-size:13px);    
                line-height: 24px;
                letter-spacing: 0.5px;
            }
            p {
                @include roboto($font-size:13px);    
                letter-spacing: 0.4px;
            }
        }
    }
}

@mixin mist-object-tablet-desktop-common {
    .mist-object__text {
        height: 100%;
        top: 0%;
    } 
  
    .mist-object-body {
      @include flex($justify:space-between);
      column-gap: 15px;
      margin-top: 18px;
    }
  
    .mist-object__img-and-text {
      display: flex;
      height: 195px;
      width: 50%;
    }
  
    .mist-object-img {
      height: 100%;
      object-fit: cover;
    }
}

@media (max-width: 767.98px) {
    .mist-objects {
        margin-bottom: 75px;
    }

    .mist-object-body {
        @include flex($justify:flex-start);
        flex-direction: column;
        row-gap: 18px;
        margin-top: 18px;
    }

    .mist-object__img-and-text {
        display: flex;
        height:150px;
        width: 100%;

        .mist-object-img {
            width: 30%;
            height: 100%;
            object-fit: cover;
        }

        .mist-object__text {
            height: 100%;
            left: 24%;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    @include mist-object-tablet-desktop-common();
    .mist-object__text {
        left: 35%;
    }

    .mist-object-img {
        width: 60%;
    }
}

@media (min-width: 992px) {
    @include mist-object-tablet-desktop-common();

    .mist-object__text {
        left: 26%;

        h6 {
            @include roboto($font-size:16px);
        }
    }
    .mist-object-img {
        width: 42%;
    }
}